html {
    font-size: 125%;
    margin-top: -1rem;
}

.wrapper {
    width: 85%;
    max-width: 1080px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

.skip-link {
    position: absolute;
    left: -1000px;
    top: 5px;
    z-index: 999;
    background: white;
    color: black;
}

.skip-link:focus {
    left: 0;
}


// FRONT-END WEB DEVELOPER ANIMATION CODE (START)
// source: https: //codepen.io/alvarotrigo/pen/bGrXmwM
.waviy {
    position: relative;
}

.waviy span {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    animation: flip 1s infinite;
    animation-delay: calc(0.1s * var(--i))
}

// default is 2s and .2s

@keyframes flip {

    0%,
    80% {
        transform: rotateY(360deg)
    }
}

// FRONT-END WEB DEVELOPER ANIMATION CODE (END)