// CONTACT AND FOOTER

.contact {
    background-color: $darkBlue;
    margin: -1.7rem 0;
    padding-bottom: 50px;
    p {
        text-align: center;
        color: $white;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    width: 75%;
    margin: 15px 0;
    background-color: $white;
    border: 3px solid rgba(255, 176, 124, 0.5);
    border-radius: 10px;
}

input {
    padding: 15px;
}

textarea {
    padding: 15px 0 150px 15px;
}

.message {
    button {
        padding: 10px 30px;
        border: none;
        border-radius: 5px;
        color: $gray;
        font-size: 1.2rem;
        transition: 0.3s;
    }
    button:hover,
    button:focus {
        color: $white;
        cursor: pointer;
    }
}

footer {
    background-color: $gray;
    margin: -1.7rem 0;
    padding: 1px 0;
    p {
        color: $white;
        font-size: 0.8rem;
        text-align: center;
    }
}

