// CONTACT AND FOOTER

.contact {
    background-color: $darkBlue;
    margin: -1.7rem 0;
}

footer {
    background-color: $gray;
    margin: -1.7rem 0;
    p {
        color: $white;
        font-size: 0.8rem;
        text-align: center;
    }
}

