// HEADER, ABOUT, AND SKILLS&TOOLS

header {
    background-color: $gray;
    min-height: 80vh;
}

.about {
    background-color: $lightCyan;
}

.skills {
    background-color: $lightBlue;
}

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}