h1 {
    font-family: $headingFont;
    font-size: 4rem;
    color: $peach;
    text-align: center;
}

h2 {
    font-family: $headingFont;
    font-size: 2rem;
    color: $peach;
    padding: 50px 0;
}

h2:hover,
h2:focus {
    text-decoration: underline;
    text-decoration-color: $peach;
    text-decoration-thickness: 8px;
}

h3{
    font-family: $bodyFont;
    font-size: 1.2rem;
    color: $darkBlue;
    text-transform: uppercase;
}

h4 {
    font-family: $skillsFont;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: $white;
}

i {
    font-size: 3rem;
    color: $white;
}

a {
    text-decoration: none;
    font-family: $bodyFont;
    color: $white;
    font-size: 1.5rem;
}

p {
    font-family: $bodyFont;
    color: $gray;
    font-size: 1.2rem;
}

button {
    font-family: $bodyFont;
    background-color: $peach;
}


