$headingFont: 'Pacifico', cursive;
$bodyFont: 'Nunito', sans-serif;


$baseFontSize: 1rem;

$black: #2f2f30;
$gray: #424B6D;
$darkBlue: #5169BD;
$lightBlue: #7eabff;
$lightCyan: #E0FFFF;
$white: #ebebf1;
$peach: #EEAF98;
