html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1 {
  font-family: "Pacifico", cursive;
  font-size: 4rem;
  color: #EEAF98;
  text-align: center;
}

h2 {
  font-family: "Pacifico", cursive;
  font-size: 2rem;
  color: #EEAF98;
  padding: 50px 0;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.2rem;
  color: #5169BD;
  text-transform: uppercase;
}

h4 {
  font-family: "Gloria Hallelujah", cursive;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #ebebf1;
}

i {
  font-size: 3rem;
  color: #ebebf1;
}

a {
  text-decoration: none;
  font-family: "Nunito", sans-serif;
  color: #ebebf1;
  font-size: 1.5rem;
}

p {
  font-family: "Nunito", sans-serif;
  color: #424B6D;
  font-size: 1.2rem;
}

button {
  font-family: "Nunito", sans-serif;
  background-color: #EEAF98;
}

html {
  font-size: 125%;
  margin-top: -1rem;
}

.wrapper {
  width: 85%;
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

header {
  background-color: #424B6D;
  min-height: 100vh;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
nav h3 {
  margin-top: -1rem;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.7rem;
  color: #ebebf1;
  text-align: center;
  width: 22ch;
  -webkit-animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
          animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: transparent;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
.burgerMenu {
  display: none;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}
.navigation a {
  margin: 0 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navigation a:hover,
.navigation a:focus {
  color: #EEAF98;
  cursor: pointer;
}

h1 {
  padding: 200px 0 0;
}

.socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socialIcons i {
  font-size: 2rem;
  color: #EEAF98;
  margin: 0 15px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.socialIcons i:hover,
.socialIcons i:focus {
  color: #ebebf1;
  cursor: pointer;
}

.about {
  background-color: #E0FFFF;
  margin: -1.7rem 0;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px;
}
.profile p {
  margin: 0;
  padding: 0 40px;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 40px;
}
.profile p a {
  font-size: 1.2rem;
  color: #424B6D;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.profile p a:hover,
.profile p a:focus {
  color: #EEAF98;
  cursor: pointer;
}
.profile img {
  max-width: 30%;
  border-radius: 50px;
  height: 50%;
}

.skills {
  background-color: #5169BD;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-bottom: 50px;
  margin-top: -50px;
}
.icons li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
}

.projects {
  background-color: #E0FFFF;
  margin: -1.7rem 0;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 70px;
}
.projects img {
  width: 350px;
  height: 250px;
}

.projectInfo p {
  line-height: 40px;
  letter-spacing: 2px;
}
.projectInfo a {
  font-size: 1.2rem;
  color: #424B6D;
  text-decoration: underline;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.projectInfo a:hover,
.projectInfo a:focus {
  color: #EEAF98;
  cursor: pointer;
}
.projectInfo button {
  color: #424B6D;
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}
.projectInfo button:hover,
.projectInfo button:focus {
  color: #ebebf1;
  cursor: pointer;
}
.projectInfo p {
  text-align: justify;
}

.projectA, .projectB, .projectC, .projectD, .projectE {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 35px 20px;
  padding: 50px;
  border-radius: 20px;
  background-color: #ebebf1;
  opacity: 0.8;
}

.contact {
  background-color: #5169BD;
  margin: -1.7rem 0;
  padding-bottom: 50px;
}
.contact p {
  text-align: center;
  color: #ebebf1;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input, textarea {
  width: 75%;
  margin: 15px 0;
  background-color: #ebebf1;
  border: 3px solid rgba(255, 176, 124, 0.5);
  border-radius: 10px;
}

input {
  padding: 15px;
}

textarea {
  padding: 15px 0 150px 15px;
}

.message button {
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  color: #424B6D;
  font-size: 1.2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.message button:hover,
.message button:focus {
  color: #ebebf1;
  cursor: pointer;
}

footer {
  background-color: #424B6D;
  margin: -1.7rem 0;
  padding: 1px 0;
}
footer p {
  color: #ebebf1;
  font-size: 0.8rem;
  text-align: center;
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  header h1 {
    font-size: 3rem;
    padding: 200x 0 0;
  }
  header h3 {
    font-size: 1.4rem;
  }
  header a {
    font-size: 1.2rem;
  }
  .projects img {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
    height: auto;
  }
  .projectA,
.projectB,
.projectC,
.projectD,
.projectE {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectInfo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projectInfo p {
    text-align: center;
  }
}
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  html {
    margin-top: -2rem;
  }
  header h1 {
    padding: 300px 0 0;
  }
  header nav {
    padding-top: 50px;
  }
  .burgerMenu {
    display: block;
    position: absolute;
    left: 25px;
  }
  .burgerMenu i {
    font-size: 2.5rem;
    color: #ebebf1;
  }
  .burgerMenu i:hover,
.burgerMenu i:focus {
    color: #EEAF98;
    cursor: pointer;
  }
  .navigation {
    position: absolute;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    left: -250px;
    -webkit-transition: left 0.5s ease;
    transition: left 0.5s ease;
    background-color: #424B6D;
  }
  .navigation.active {
    left: 0;
  }
  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile p {
    margin-top: 40px;
  }
}
/* Landscape phones and down */
@media (max-width: 480px) {
  header h1 {
    padding: 250px 0 0;
  }
  header h3 {
    font-size: 1.2rem;
  }
  .icons {
    margin-left: -1.2rem;
  }
  .icons i {
    font-size: 25px;
  }
  .icons h4 {
    font-size: 15px;
  }
  .profile p {
    font-size: 0.8rem;
    text-align: center;
    line-height: 30px;
  }
  .profile p a {
    font-size: 0.8rem;
  }
  .profile img {
    margin-top: -40px;
    border-radius: 35px;
    max-width: 50%;
    height: 35%;
  }
  .projects img {
    width: 200px;
    height: 140px;
  }
  .projectInfo h3 {
    font-size: 1rem;
  }
  .projectInfo p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  .projectInfo a {
    font-size: 0.8rem;
  }
  .projectInfo button {
    font-size: 0.8rem;
    width: 70px;
    height: 30px;
  }
  .contact h2 {
    margin-bottom: -1rem;
  }
  .contact p {
    font-size: 1rem;
  }
}